<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.baby.owspace">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".app.OwspaceApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLaunch">
        <activity android:name=".view.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity"/>
        <activity android:name=".view.activity.ArtActivity"/>
        <activity android:name=".view.activity.DailyActivity"/>
        <activity android:name=".view.activity.DetailActivity"/>
        <activity android:name=".view.activity.SettingsActivity"/>
        <meta-data android:name="com.github.baby.owspace.util.GlideConfiguration" android:value="GlideModule"/>
    </application>

</manifest>